/*表格样式*/
.my-table {
    border: 1px solid #e8e8e8;
    width: 100%;
    background-color: #fff;
    color: #606266;
}

.my-table > thead > tr > th {
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    padding: 8px;
    height: 48px;
    line-height: 23px;
    text-align: left;
    color: #606266;
    background-color: #F8F8F9;
    box-sizing: border-box;
}

.my-table > tbody > .content > td,
.my-table-border > tbody > .content > td {
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    padding: 8px;
    height: 40px;
    min-height: 40px;
    line-height: 22px;
    background-color: #fff;
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
    word-break: break-all;
    white-space: break-spaces;
    box-sizing: border-box;
}

.my-table-border > thead > tr > th,
.my-table-border > tbody > .content > td,
.my-table-border > tbody > .content-no-hover > td {
    border-right: 1px solid #e8e8e8;
}

.my-table-border > thead > tr > th:last-child,
.my-table-border > tbody > .content > td:last-child,
.my-table-border > tbody > .content-no-hover > td:last-child {
    border-right: none;
}
.my-table-border > tbody > tr:last-child td {
    border-bottom: none;
}

.my-table > tbody > .content:hover > td,
.my-table-border > tbody > .content:hover > td {
    background: #f5f7fa;
}

.my-table.no-border {
    border: 0;
}

.my-table.no-hover {
    background-color: transparent !important;
}

.my-table.no-hover .content td {
    background-color: transparent !important;
}


/*表格组件固定头\固定列样式*/
.custom-fixed-table-box {
    border: 1px solid #e8e8e8;
    width: 100%;
    max-height: 100%;
    overflow: auto;
}
.custom-fixed-table-box > .my-table {
    border: none;
}
.custom-fixed-table-box > .my-table > thead {
    position: sticky;
    top: 0;
    border-right: 1px solid #e8e8e8;
    outline-color: #e8e8e8;
    outline-style: solid;
    outline-width: 1px;
    z-index: 3;
}
.custom-fixed-table-box > .my-table > thead > tr > th {
    border-bottom: none;
}
.custom-fixed-table-box > .my-table > thead > tr > th:last-child,
.custom-fixed-table-box > .my-table > tbody > tr > td:last-child {
    border-right: 1px solid #e8e8e8;
}

.custom-fixed-table-box .table-fixed-tr > .table-fixed-box {
    z-index: 2;
    position: sticky !important;
}

.custom-fixed-table-box .table-fixed-tr > .table-fixed-box.fixed-left:after,
.custom-fixed-table-box .table-fixed-tr > .table-fixed-box.fixed-right:after {
    content: '';
    position: absolute;
    top: 0;
    width: 4px;
    height: 100%;
}
.custom-fixed-table-box .table-fixed-tr > .table-fixed-box.fixed-left:after {
    right: -4px;
}
.custom-fixed-table-box .table-fixed-tr > .table-fixed-box.fixed-right:after {
    left: -4px;
}
.custom-fixed-table-box.fixed-left-shadow .table-fixed-tr > .table-fixed-box.fixed-left:after {
    background-image: linear-gradient(to right, #69696924, #a8a8a814, #a8a8a80d, #a8a8a80a);
}
.custom-fixed-table-box.fixed-right-shadow .table-fixed-tr > .table-fixed-box.fixed-right:after {
    background-image: linear-gradient(to left, #69696924, #a8a8a814, #a8a8a80d, #a8a8a80a);
}
